body {
  font-family: "BPG Mrgvlovani", sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}
nav {
  height: 6rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: #065aad;
}
.teset22 {
  height: 10vh;
}

/*Logo*/

.logo {
  padding: 3vh 3vw;
  text-align: left;
}

.logo img {
  width: 4rem;
}

/* Styling Navigation Links*/

.nav-links {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  transition: all ease-in-out 350ms;
  padding: 5px;
  color: #ffffff;
  font-size: 16px;
}
.nav-links li a:hover {
  background-color: #1381f0b2;
  padding: 10px;
  border-radius: 50px;
}

/*Navigation Icon Styling*/

.hamburger div {
  width: 30px;
  height: 3px;
  background: #ffffff;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/* first section syling */

.slidercntr {
  margin-bottom: 150px;
}
.radio {
  display: none;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  padding-top: 56%;
  overflow: hidden;
}

.slide {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  transform: scale(1.1);
  transition: 1.3s;
  opacity: 1;
}

.caption {
  position: absolute;
  top: 30%;
  left: 25%;
  transition: 0.9s;
  background-color: rgba(34, 34, 34, 0.699);
  padding: 5px;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
}
.caption p {
  position: relative;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  z-index: 5;
}

.dots {
  width: 100%;
  position: absolute;
  bottom: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots label {
  width: 15px;
  height: 15px;
  background-color: #39a6f0;
  margin: 0 10px;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.dots label:hover {
  opacity: 0.9;
}

#radio-1:checked ~ #slide-1,
#radio-2:checked ~ #slide-2,
#radio-3:checked ~ #slide-3,
#radio-4:checked ~ #slide-4 {
  opacity: 1;
}
#radio-1:checked ~ #slide-1 img,
#radio-2:checked ~ #slide-2 img,
#radio-3:checked ~ #slide-3 img,
#radio-4:checked ~ #slide-4 img {
  transform: scale(1);
}

#radio-1:checked ~ #slide-1 .caption,
#radio-2:checked ~ #slide-2 .caption,
#radio-3:checked ~ #slide-3 .caption,
#radio-4:checked ~ #slide-4 .caption {
  opacity: 1;
  top: 50%;
}

#radio-1:checked ~ .dots #label-1,
#radio-2:checked ~ .dots #label-2,
#radio-3:checked ~ .dots #label-3,
#radio-4:checked ~ .dots #label-4 {
  background: #39a6f0;
  opacity: 1;
}

/* our services section styling */

.our-services-container {
  text-align: center;
  margin-bottom: 150px;
  /* background-color: azure; */
}
.our-services-container h2 {
  font-size: 35px;
  margin-bottom: 50px;
}
.it-outsorcing1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px;
  /* background-color: aliceblue; */
}
.it-outsorcing2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 50px;
}

.outsorcing-img img {
  width: 500px;
  height: 250px;
}
.outsorcing-description {
  max-width: 500px;
}
.outsorcing-description h3 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
}
.outsorcing-description p {
  font: optional;
  line-height: 1.5;
  text-align: left;
}
.outsorcing-description p span {
  font-weight: bold;
  color: #065aad;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

.h2test {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* footer */

.footer-distributed {
  margin-top: 10px;
  background-color: #065aad;
  width: 100%;
  text-align: left;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed span {
  color: #ffffff;
}
.Footer-Logo {
  width: 150px;
  height: 150px;
}

/* Footer links */

.footer-distributed .footer-links {
  /* color: black; */
  color: white;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #ffffff;
  color: #0575e6;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: white;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  color: #ffffff;
}

.footer-distributed .footer-center p a {
  color: #ffffff;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: white;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 2px;
  font-size: 20px;
  color: #0575e6;
  text-align: center;
  line-height: 35px;
  margin-right: 20px;
  margin-bottom: 5px;
  border-radius: 50%;
}
